{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "standard",
    "standard-jsx",
    "standard-react",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2021,
    "jsx": true,
    "useJSXTextNode": true,
    "requireConfigFile": false
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "arrow-parens": ["error", "always"],
    "max-len": ["error", { "code": 80, "ignoreStrings": true, "ignoreComments": true }],
    "jsx-quotes": ["error", "prefer-double"],
    "no-use-before-define": "off",
    "space-before-function-paren": ["error", "never"],
    "@typescript-eslint/no-use-before-define": ["error"]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "globals": {}
}
