{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-standard-scss",
    "stylelint-config-rational-order"
  ],
  "rules": {
    "no-descending-specificity": null,
    "selector-class-pattern": null,
    "color-hex-length": "short"
  },
  "ignoreFiles": ["dist/**", "**/*.ts", "**/*.tsx", "**/*.js", "**/*.jsx"]
}
